@mixin primary-button {
    padding: 12px 10px;
    border-radius: 12px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    font-size: 15px;
    font-weight: 600;   
    margin: 15px 0;
    width: 100%;
    transition: all 0.2s ease-in-out;

    &.primary-button {
        background-color: #007bff;
    }

    &:hover {
        background-color: #0056b3;
    }

    &:active {
        transform: scale(0.96);
        background-color: #004085;
    }

    &:disabled {
        background-color: #007bff;
        cursor: not-allowed;
    }
}